html, body {margin: 0; height: 100%; overflow: hidden}

body {
    background-color: black;
}

button {
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 5px;
}